body
{
background-color:#08ffef;
color:black!important;
}
.navbar-brand
{
color:yellow!important;
}
.bg-light
{
background-color:orange !important
}
.nav-link:link
{
color:green;
font-weight:bold;
font-size:20px
}
.nav-link:visited
{
color:green
}
.nav-link:hover{
color:blue!important
}
.dropdown-item {
color:red!important}
p{
color:green}

.table,th,td{
border:2px solid black;
border-collapse:collapse;}