{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<h2>Enter Details</h2>

<div class="container bg-success">
<form method="POST">
      {% csrf_token %}



      <div class="mb-3">
          <label class="form-label">Phone No</label>
          <input type="text" class="form-control" name="p"  >
      </div>

      <div class="mb-3">
          <label class="form-label">Delivery Address</label>
          <input type="text" class="form-control" name="a"  >
      </div>
      <div class="mb-3">
          <label class="form-label">Pin</label>
          <input type="text" class="form-control" name="n"  >
      </div>


      <button type="submit" class="form-control">Submit</button></form>

</div>
</center>

{% endblock %}